.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 800px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333333;
}

.input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px 2%;
  font-size: 20px;
  color: #fff;
  background-color: #888888;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6D6D6D;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #F3F3F3;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

li .post {
  padding: 10px;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li .post span {
  flex: 1;
  font-size: 20px;
  color: #333;
  text-align: left;
  padding-left: 10px;
  margin-right: 10px;
  white-space: normal;
  word-wrap: break-word;
}

li .buttons {
  display: flex;
  gap: 10px;
}

li .buttons button {
  background-color: #ffffff;
  color: #404040;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

li .buttons button:hover {
  color: #ffffff;
  background-color: #B8B8B8;
}

.edit-mode{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.edit-mode input {
  width: calc(100% - 150px);
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  white-space: normal;
  word-wrap: break-word; 
}

.edit-mode .edit-buttons{
  gap: 10px;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

.edit-mode .edit-buttons button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ffffff;
  color: #404040;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center; 
}

.edit-mode .edit-buttons button:hover {
  background-color: #B8B8B8;
  color: #ffffff;
}
